{% extends "site_base.html" %}
{% load i18n %}

{% block head_title %}{% trans "About" %}{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>
            {% trans "About cool bookmark" %}
            <small>Jeffrey Hu (golettoo@gmail.com)</small>
        </h1>
    </div>

    <p>
        Last modified: March 3, 2012
    </p>
    
    <p>
        Welcome! This is a very simple but useful site. It can help me and you store bookmarks online.
    </p>

    <div class="alert alert-block alert-info">
        <h4 class="alert-heading">Functions!</h4>
        <ul>
            <li>Manage your bookmarks with tags online.</li>
            <li>It can import the bookmarks from Firefox, Safari, Chrome, etc.</li>
            <li>It can import the bookmarks from google bookmark, delicious, etc</li>
            <li>It can export the bookmarks for Firefox, Safari, Chrome and google, delicious, etc</li>
        </ul>
    </div>
    
    <p>If you like it, please bookmark it. Any issues please let me know. You can contact me by <a href="mailto:golettoo@gmail.com">golettoo@gmail.com</a></p>
    <p>Thank you!</p>
{% endblock %}