{% extends "site_base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Privacy Policy" %}{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Privacy Policy</h1>
    </div>
    <p>
        Last modified: March 3, 2012
    </p>

    <p>
        We use the information we collect from all of our services to provide, maintain, protect and improve them, to
        develop new ones, and to protect our users. We also use this information to offer you tailored
        content – like giving you more relevant search results and ads.
    </p>
    <p>
        We will ask for your consent before using information for a purpose other than those that are set out in this
        Privacy Policy.
    </p>

    <p>
        We work hard to protect our users from unauthorized access to or unauthorized alteration, disclosure or
        destruction of information we hold.
    </p>

    <p>
        Our Privacy Policy may change from time to time. We will not reduce your rights under this Privacy Policy
        without your explicit consent. We will post any privacy policy changes on this page and, if the changes are
        significant, we will provide a more prominent notice (including, for certain services, email notification of
        privacy policy changes). We will also keep prior versions of this Privacy Policy in an archive for your review.
    </p>

{% endblock %}