{% load i18n %}

<div class="subnav">
    <ul class="nav nav-pills">
        <li {% if active == "bookmark" %}class="active"{% endif %}>
            <a href="{% url bookmark %}">
                <i class="icon-bookmark"></i>&nbsp;{% trans "Home" %}
            </a>
        </li>
        {% if request.user.is_authenticated %}
            <li {% if active == "my_bookmark" %}class="active"{% endif %}>
                <a href="{% url my_bookmark %}">
                    <i class="icon-user"></i>&nbsp;{% trans "My Bookmarks" %}
                </a>
            </li>
        {% endif %}
        <li>
            <a href="{% url rss %}"><i class="icon-list-alt"></i> {% trans "Feed bookmarks" %}</a>
        </li>
        {% if not request.user.is_authenticated %}
        <li>
            <a href="{% url acct_signup %}">
                <b>{% trans "Free bookmark" %}</b>
            </a>
        </li>
        {% endif %}
    </ul>
</div>
<p></p>