{% load i18n %}

<ul class="nav nav-pills">
    <li {% if active == "bookmark" %}class="active"{% endif %}>
        <a href="{% url bookmark %}">
            <i class="icon-bookmark icon-white"></i>&nbsp;{% trans "Bookmarks" %}
        </a>
    </li>
    {% if request.user.is_authenticated %}
    <li {% if active == "my_bookmark" %}class="active"{% endif %}>
        <a href="{% url my_bookmark %}">
            <i class="icon-user icon-white"></i>&nbsp;{% trans "My Bookmarks" %}
        </a>
    </li>
    {% endif %}

</ul>