{% extends "site_base.html" %}

{% load i18n %}

{% block extra_style %}
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/jquery.tagsinput.css" rel="stylesheet">
{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
        <div class="row">
            <div class="span10 columns">
                {% include "bookmark/_menu.html" %}
                {% block body %}
                {% endblock %}
            </div>
            <div class="span2 columns">
                {% block subnav %}
                    <div class="alert alert-info">
                        <h3>{% trans "Tags" %}</h3>
                        <p>tags</p>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
