{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}
    {% trans "Home" %}
{% endblock %}

{% block extra_script %}
    <script src="{{ STATIC_URL }}js/jquery.tmpl.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.loadmask.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.masonry.min.js"></script>
    <script type="text/javascript">
        var uvOptions = {};
        (function () {
            var uv = document.createElement('script');
            uv.type = 'text/javascript';
            uv.async = true;
            uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/pfJgyrQ0QIKHXSITUEaPEA.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(uv, s);
        })();
    </script>

    <script id="bookmark_screen_shot" type="text/x-jquery-tmpl">
        <div class="box thumbnail span3">
            <a href="${url}" target="_blank">
                {% templatetag openvariable %}if screen_shot == ""{% templatetag closevariable %}
                <img src="http://placehold.it/256x192&text=Image+not+ready" alt="${url}" title="${url}">
                {% templatetag openvariable %}else{% templatetag closevariable %}
                <img src="{{ MEDIA_URL }}${screen_shot}" alt="${url}" title="${url}">
                {% templatetag openvariable %}/if{% templatetag closevariable %}
            </a>
            <h5>{% trans "Title" %} : ${title}</h5>

            <p> {% trans "Tags" %} :
                {% templatetag openvariable %}each(i, tag) tags{% templatetag closevariable %}
                <a class="tag" href="{% url api_bookmarks %}?tag=${tag.id}"><span
                        class="label label-info" value="${tag.name}">${tag.name}</span></a>
                {% templatetag openvariable %}/each{% templatetag closevariable %}
            </p>

            <p>
                <i class="icon-user"></i>
                <a class="owner" href="{% url api_bookmarks %}?owner_id=${owner.id}">
                    ${owner.username}
                </a>
            </p>
        </div>
    </script>

    <script type="text/javascript">
        var api_url = "{% url api_bookmarks %}";
        var masonried = false;

        function update_parameter(a, k, v) {
            var re = new RegExp("([?|&])" + k + "=.*?(&|$)", "i"),
                    separator = a.indexOf('?') !== -1 ? "&" : "?";

            if (a.match(re)) return a.replace(re, '$1' + k + "=" + v + '$2');
            else return a + separator + k + "=" + v;
        }

        function render_bookmark(items_per_page) {
            api_url = update_parameter(api_url, "items_per_page", items_per_page)
            $.ajax({
                url:api_url,
                cache:false,
                success:function (bookmarks) {
                    if (bookmarks.data.length > 0) {
                        $("#bookmark_screen_shots").empty();
                        $("#bookmark_screen_shot").tmpl(bookmarks.data).appendTo("#bookmark_screen_shots");
                    } else {
                        $("#bookmark_screen_shots").empty();
                        $("#bookmark_screen_shots").html('<li>{% trans "No Data" %}</li>');
                    }

                    //$("#bookmark_screen_shots").imagesLoaded(function () {
                        if (masonried) {
                            $("#bookmark_screen_shots").masonry("reload");
                        } else {
                            $("#bookmark_screen_shots").masonry({
                                itemSelector:'.box'
                            });
                            masonried = true;
                        }
                    //});
                },
                dataType:"json"
            });
        }
        // Main function
        $(function () {

            // fix sub nav on scroll
            var $win = $(window)
                    , $nav = $('.subnav')
                    , navTop = $('.subnav').length && $('.subnav').offset().top - 40
                    , isFixed = 0

            processScroll();

            $win.on('scroll', processScroll)

            function processScroll() {
                var i, scrollTop = $win.scrollTop()
                if (scrollTop >= navTop && !isFixed) {
                    isFixed = 1
                    $nav.addClass('subnav-fixed')
                } else if (scrollTop <= navTop && isFixed) {
                    isFixed = 0
                    $nav.removeClass('subnav-fixed')
                }
            }

            // Add loading
            $("#main_page")
                    .ajaxStart(function () {
                        $(this).mask("{% trans 'Loading...' %}");
                    })
                    .ajaxComplete(function () {
                        $(this).unmask();
                    });

            render_bookmark(30);

            /*$("#bookmark_screen_shots").imagesLoaded( function(){
             $("#bookmark_screen_shots").masonry({
             itemSelector: '.box'
             });
             });*/


            // Search by tag
            $("body").delegate("a.tag", "click", function () {
                api_url = $(this).attr("href");
                $("#data_title").html('{% trans "Bookmarks tagged by" %} ' + $(this).html());
                render_bookmark(30);
                return false;
            });

            // Search by owner
            $("body").delegate("a.owner", "click", function () {
                api_url = $(this).attr("href");
                $("#data_title").html('{% trans "Bookmarks owner by " %} ' + $(this).html());
                render_bookmark(30);
                return false;
            });

            // submit data to create bookmark
            $("#search_form").submit(function () {
                api_url = update_parameter(api_url, "keyword", $("#keyword").val());
                $("#data_title").html('{% trans "Bookmarks searched by " %} ' + $("#keyword").val());
                render_bookmark(30);
                return false;
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div id="main_page">
        {% include "bookmark/_menu.html" %}
        {% if not request.user.is_authenticated %}
            <div class="alert alert-block alert-info">
                <a data-dismiss="alert" class="close">&times;</a>
                <h4 class="alert-heading">Welcome!</h4>
                <ul>
                    <li>Free to usage! <a href="{% url acct_signup %}">Signup now!</a></li>
                    <li>Manage your bookmarks with tags online.</li>
                    <li>It can import the bookmarks from Firefox, Safari, Chrome, etc.</li>
                    <li>It can import the bookmarks from google bookmark, delicious, etc</li>
                    <li>It can export the bookmarks for Firefox, Safari, Chrome and google, delicious, etc</li>
                </ul>
            </div>
        {% endif %}
        <h1 id="data_title">
            {% trans "Latest bookmarks" %}
        </h1>

        <div id="bookmark_screen_shots" class="clearfix">

        </div>
    </div>
{% endblock %}

