{% extends "bookmark/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block body %}
    <form id="import_file_form" action="{% url import_firefox_bookmark %}" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>{% trans "Import bookmarks from csv file" %}</legend>
            <div class="alert alert-block alert-info">
                <h4 class="alert-heading">How to do?</h4>
                <ol>
                    <li>Save your browser bookmarks to a file. Use your browser's export bookmarks option, and save the file on your desktop.</li>
                    <li>Find bookmark file and add tags. Use the box below to locate your freshly exported bookmark file.</li>
                </ol>
            </div>
            {% csrf_token %}
            {{ file_form|as_bootstrap }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans "Import" %}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}

{% block extra_script %}
    <script src="{{ STATIC_URL }}js/jquery.loadmask.min.js"></script>
    <script type="text/javascript">
    $(function() {
        $("#import_file_form").submit(function() {
            $("body").mask("{% trans 'Importing...' %}");
        });
    })
    </script>
{% endblock %}